 * {
    margin: 0;     
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #070325;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: aqua;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #081b29;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: .7s;
}
.home-content img 
{
    height: 400px;
    width: 400px;
    margin-top:-500px;
    margin-left: 650px;
    border-radius:50%;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop .5s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .1s ease forwards;
    animation-delay: .2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan,
        0 0 200px cyan;
}
@media (max-width:760px) {
    .home
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 50px;
    }
    .header
    {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .nav a 
    {
        margin:10px 0;
    }
    .home-content
    {
        margin-top: 100px;
    }
    .home img 
    {
        width: 400px;
        border-radius: 50%;
        margin-left: 15px;
        margin-top: 20px;
        position: relative;
    }
}


.about
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.aboutimg img
{
    height: 400px;
    width: 400px;
    margin-top:10px;
    border-radius:50%;
    margin-left: 100px;
}

.about h2
{
    font-size: 60px;
}
.about h2 span
{
    color: #0ef;
}
.about h4
{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin:15px 0 30px;
}
.about-text p
{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom:4rem ;
}
@media (max-width:760px) 
{
    .about
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
    }
    .aboutimg img
    {
        width: 400px;
        border-radius: 50%;
        margin-left: 35px;
        margin-top:-500px;
    }
    .about-text
    {
        margin-left: 100px;
        margin-bottom: -200px;
    }
    .about-text p 
    {
        width: 400px;
        margin-left: -70px;
    }
}
.services
{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;  
}
.sub-services
{
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
    margin-top: -200px;
}
.sub-services span
{
    color: #0ef;
}

.container
{
    padding: 90px;
}
.services-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.services-list p
{
    font-size:18px;
}
.services-list div 
{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,1px 1px 40px #0053b8f7;
}
.services-list div i
{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a
{
    text-decoration: none;
    column-rule: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
@media (max-width:760px) 
{
    .services
    {
        margin-top: 10px;
        font-size: 150px;
        margin-left: -10px;
    }
    .container .services-list
    {
        margin-left: -10px;
        width: 100px;
    }
    .container .services-list .service1 
    {
        width: 450px;
    }
    .container .services-list .service2
    {
        width: 450px;
    }
    .container .services-list .service3
    {
        width: 450px;
    }
    .container .services-list p
    {
        font-size: 20px;
        margin-left: -20px;
    }
}

.educatoion
{
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;  
}
.sub-edu
{
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
    margin-top: -60px;
}
.sub-edu span
{
    color: #0ef;
}

.contai-edu
{
    padding: 90px;
}
.education-list
{
    display: flex;
    
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 20px;
}
.education-list p
{
    font-size:18px;
}
.education-list div 
{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,1px 1px 40px #0053b8f7;
}
.education-list div i
{
    font-size: 50px;
    margin-bottom: 30px;
}
.education-list div h2
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.education-list div h3
{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}
.education-list div a
{
    text-decoration: none;
    column-rule: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
@media (max-width:760px) {
    .sub-edu
    {
        margin-top: 200px;
    }
    .educatoion .contai-edu .education-list
    {
       display: flex;
       flex-wrap: wrap;
    }
    .edu1
    {
        width: 400px;
    }
    .edu2
    {
        width: 400px;
    }
    .edu3
    {
        width: 400px;
    }
    .edu1 p 
    {
        margin-left: -140px;
    }
    .edu2 p 
    {
        margin-left: -140px;
    }
    .edu3 p 
    {
        margin-left: -140px;
    }
}

.read
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover
{
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef,0 0 50px #0ef, 0 0 100px #0ef, 0 0 200px #0ef;
}
.services-list div:hover
{
    transform: translateY(-10px);
}

section 
{
    display: flex;
    flex-wrap: nowrap;
}
.sub-title
{
    font-size: 60px;
    margin-top: -70px;
    margin-bottom: -100px;
    text-align: center;
}
.sub-title span
{
    color: #00e0ff;
}
.container1
{
    width: 600px;
    height: 500px;
    padding:75px 90px;
    margin-left:120px;
}
.heading1
{
    text-align: center;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.heading
{
    text-align: center;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 70px;
    margin-bottom: 50px;
}
.bar 
{
    font-size: 23px;

}
.Technicla-bars .bar
{
margin-top: 40px 0;
}
.Technicla-bars .bar:first-child
{
    margin-top: 0;
}
.Technicla-bars .bar:last-child()
{
    margin-bottom: 0;
}
.Technicla-bars .bar .info
{
    margin-bottom: 15px;
}
.Technicla-bars .bar .info span
{
    font-size:20px ;
    gap: 30px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technicla-bars .bar .progress-line 
{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: black;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate 
{
    100%
    {
        transform: scaleX(1);
    }
    
}

 .progress-line span::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    top:-10px;
    right: 0;
    animation:showText 0.5s 1s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.radial-bars
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bar .percentage
{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: 20PX;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text 
{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 10%;
    top: -5px;
    transform: translate(-50px);
    font-size: 20px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bars .radial-bar
{
    width: 50%;
    height: 250px;
    margin-bottom: -50px;
    position: relative;
}
.radial-bars .radial-bar svg 
{
    position: absolute;
    top:40%;
    left:50%;
    margin-bottom: -50px;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar
{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation:animate is linear forwards;
}
@keyframes animate-bar {
    100%
    {
        stroke-dashoffset: -1;
    }
}
@media (max-width:700px) 
{
    .sub-title
    {
        font-size: 60px;
        margin-right: -200px;
    }
    .container1
    {
        font-size: 25px;
        margin-left: 100px;
    }
    .sub-skills
    {
        width: 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 250px;
    }
    .heading 
    {
        margin-top: 60px;
    }
    .Technicla-bars
    {
        width: 300px;
        margin-left: -100px;
    }
    .radial-bars
    {
        display: flex;
        flex-wrap: nowrap;
        gap: 100px;
        margin-left: -10px;
    }
}
.path{
    stroke-width: 10;
    stroke:#0ef;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.radial-bar .path-1{animation: animate-path1 1s 1s linear forwards;}
.radial-bar .path-2{animation: animate-path2 1s 1s linear forwards;}
.radial-bar .path-3{animation: animate-path3 1s 1s linear forwards;}
.radial-bar .path-4{animation: animate-path4 1s 1s linear forwards;}
.radial-bar .path-5{animation: animate-path5 1s 1s linear forwards;}
.radial-bar .path-6{animation: animate-path6 1s 1s linear forwards;}

@keyframes animate-path1 {
    100%
    {
        stroke-dashoffset: 75%;
    }
}
@keyframes animate-path2 {
    100%
    {
        stroke-dashoffset: 70%;
    }
}
@keyframes animate-path3 {
    100%
    {
        stroke-dashoffset: 80%;
    }
}
@keyframes animate-path4 {
    100%
    {
        stroke-dashoffset: 60%;
    }
}
@keyframes animate-path5 {
    100%
    {
        stroke-dashoffset: 50%;
    }
}
@keyframes animate-path6 {
    100%
    {
        stroke-dashoffset: 80%;
    }
}
.progress-bar {
    width: 90%;
    height: 10px;
    background:black;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    gap: 10px;
  }
  .progress.java {
    height: 90%;
    background: #00e0ff;
    animation: fillja 1.5s ease-in-out forwards;
  }
  
  @keyframes fillja {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 40%);
    }
  }
  .progress.html {
    height: 90%;
    background: #00e0ff;
    animation: fillh 1.5s ease-in-out forwards;
  }
  
  @keyframes fillh {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 80%);
    }
  }
  .progress.css {
    height: 90%;
    background: #00e0ff;
    animation: fillc 1.5s ease-in-out forwards;
  }
  
  @keyframes fillc {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 80%);
    }
  }
  .progress.javascript {
    height: 90%;
    background: #00e0ff;
    animation: fillj 1.5s ease-in-out forwards;
  }
  
  @keyframes fillj {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 50%);
    }
  }
  .progress.react {
    height: 90%;
    background: #00e0ff;
    animation: fillr 1.5s ease-in-out forwards;
  }
  
  @keyframes fillr {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 50%);
    }
  }
  .progress.python {
    height: 90%;
    background: #00e0ff;
    animation: fillp 1.5s ease-in-out forwards;
  }
  
  @keyframes fillp {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 60%);
    }
  }

  .progress.sql {
    height: 90%;
    background: #00e0ff;
    animation: fills 1.5s ease-in-out forwards;
  }
  
  @keyframes fills {
    from {
      width: 0;
    }
    to {
      width: var(--final-width, 60%);
    }
  }
@media (max-width:700px) {
    .radial-bars .text
    {
        font-size: 20px;
    }
    .radial-bar .percentage
    {
        font-size: 20px;
        margin-bottom: 100px;
        margin-left: -10px;
    }
    
}
.main-text
{
    padding-top: 130px;
    margin-top: 200px;
}
.main-text h2
{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
}
.main-text h2 span
{
    color: #00e0ff;
}
.portfolio-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row
{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img 
{
    width: 100%;
    border-radius: 18px;
    display: block;     
    transition: transform 0.5s;
}
.layer
{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),rgb(21, 23, 80));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5 
{
    color:white;
    font-size: 20px;
    font-size: 600;
    margin-bottom: 15px;
}
.layer p
{
    color: white;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i
{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: #0b0d51;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img
{
    transform: scale(1.1);
}
.row:hover .layer
{
    height: 100%;
}

@media (max-width:700px) {
    .portfolio
    {
        margin-left: 40px;
    }
    .main-text h2
{
    margin-top: 20px;
    margin-left: 150px;
}
    .portfolio-content .row
    {
        display: flex;
        flex-wrap: wrap;
        gap:200px;
        width: 400px;
        height: 400px;
        margin-left:50px;
    }
}
.contact 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}
.contact-text h2
{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span
{
    color: #0ef;

}
.contact-text h4 
{
    margin:15px 0;
    color:rgb(228,228,228);
    font-size:20px;
    font-weight: 600;
}
.contact-text p
{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list
{
    margin-bottom: 3rem;
}
.contact-list li 
{
    margin-bottom: 10px;
    display: block;
}
.contact-list li 
{
    margin-bottom: 10px;
    display: block;
}
.contact-list i 
{
    display: inline-block;
    color:rgb(51, 196, 219);
    font-size:20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover
{
    transform: scale(1.01) translateY(-5px);
    color: #00e0ff;
}

.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form 
{
    position: relative;
}
.contact-form form input,form textarea
{
    border:none;
    outline: none;
    width:90% ;
    padding: 10px;
    background: #d5d5db;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea
{
    resize: none;
    height: 220px;
}
.contact-form textarea .send
{
    display: inline-block;
    padding: 15px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color:#0ef;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

}

.contact-form form .send:hover
{
    box-shadow: 0 0 5px #0ef,0 0 25px #0ef,0 0 50px #0ef, 0 0 100px #0ef, 0 0 200px #0ef;
}

.top 
{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i 
{
    columns: #000;
    background:#0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideBottom .1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
} 
@media (max-width:700px) {
    .contact-text h2
    {
        font-size: 60px;
        margin-top: -60px;
        margin-left: 100px;
    }
    .contact
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
    }
    .contact .contact-text h4,p,li
    {
        text-align: center;
        margin-right: -50px;
    }
    .contact .contact-text .contact-icons
    {
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contact-text .contact-icons
    {
        margin-top: -50px;
        margin-left: 65px;
    }
    .contact-form
    {
        width: 600px;
        margin-top: -50px;
    }
    .contact-form form input,
    .contact-form form textarea {
        font-size: 18px; 
        margin-left: 10px;
        padding: 5px; 
        width: 400px;
    }
}











@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
} 
